.filter-input {
    width: 150px; 
    margin-left: 10px; 
  }
  
  .table-container {
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
  }
  
  .table-title {
    margin-bottom: 20px; 
    color: #333; 
  }
  
  .divider {
    border-top: 2px solid #555; 
    margin: 20px 0; 
  }

  .filters-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
  }
  
  .filter-input {
    width: 100%; 
  }
  
  
  
  
  