 .warning {
      background-color: white;
      /* border: 2px solid orange; */
      padding: 10px;
      color: brown;
      font-weight: bold;
      text-align: center;
      font-size: 15px;
    }

    hr.vertical {
      width: 1px; /* Ancho de la línea vertical */
      height: 100px; /* Altura de la línea vertical */
      transform: rotate(90deg); /* Rotar la línea para que sea vertical */
      margin: 0 auto; /* Opcional: centrar la línea verticalmente */
    }
    

    table.table-shopping-cart tbody tr:hover {
      background-color: transparent; /* Cambia el color de fondo al valor deseado o 'transparent' para eliminarlo */
    }
    
    /* Estilo para quitar el borde de las columnas */
    table.table-shopping-cart th, table.table-shopping-cart td {
      border: none; /* Quita el borde de las celdas de la tabla */
    }

    .shopping-cart-container {
      margin-top: 20px;
    }
    
    .empty-cart-message {
      text-align: center;
      padding: 20px;
      background-color: #f8f9fa; /* Light gray background */
    }
    
    .empty-cart-message p {
      font-size: 18px;
      margin-bottom: 15px;
    }
    
    .empty-cart-message .btn {
      font-size: 16px;
    }
    
    /* .form-control{

      width: 50%;
    } */


    .BtnUpdate {
      border-radius: 5px;
      background-color: white;
      border: 1px solid #e0e0e0 !important;
      padding: 8px 12px;
      cursor: pointer;
      transition: background-color 0.3s;
      min-width: 100px;
      font-weight: bold;
      margin: 2%;
      font-size: 15px;
      color: #000;
    }
    
    .BtnUpdate:hover {
      background-color: #a43114 !important;
      color: #fff;
    }
    
    .BtnTrash {
      border-radius: 5px;
      background-color: white;
      border: 1px solid #e0e0e0 !important;
      padding: 8px 12px;
      cursor: pointer;
      transition: background-color 0.3s;
      min-width: 100px;
      font-weight: bold;
      margin: 2%;
      font-size: 15px;
      color: #000;
    }
    
    .BtnTrash:hover {
      background-color: #a46614 !important;
      color: #fff;
    }
    