
#AdeContai {
  margin-top: -3%;
}

.card-title {
  margin-bottom: 15px;
}

.table-shopping-cart {
  width: 100%;
}

.table-shopping-cart th,
.table-shopping-cart td {
  vertical-align: middle;
}


.warning {
  display: flex;
  background-color: #ba7f11d2;
  padding: 10px;
  vertical-align: middle;
  border-radius: 5px;
  margin: 2%;
  align-items: center; 
  color:white;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.TxtWarning {
  flex-grow: 1; 
}

.IconWarning {
  font-size: 300%;
  margin-left: 10px; 
  
}

