
#AdeContai {
  margin-top: -3%;
}

.card-title {
  margin-bottom: 15px;
}

.table-shopping-cart {
  width: 100%;
}

/* Estilos para la tabla */
.table-shopping-cart th,
.table-shopping-cart td {
  vertical-align: middle;
}


.warning {
  display: flex;
  background-color: #ffc107;
  padding: 10px;
  border-radius: 5px;
  margin: 2%;
  align-items: center; /* Centra verticalmente los elementos */
  color: brown;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.TxtWarning {
  flex-grow: 1; /* Permite que el texto ocupe todo el espacio restante */
}

.IconWarning {
  font-size: 300%;
  margin-left: 10px; /* Ajusta el margen izquierdo entre el texto y el ícono */
  
}

