/* Estilo para el formulario */
#form-updateuser {
    padding: 20px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilo para las etiquetas de formulario */
#form-updateuser label {
    font-weight: bold;
}
