.card-inner{
    margin-left: 4rem;
}

  .stars-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .edit-button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

   .clasificacion {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#form .StarR {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

.StarR {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: flex;
    align-items: center; 
}

.StarR:hover,
.StarR:hover~.StarR {
    color: orange;
}

input[type="radio"]:checked~.StarR {
    color: orange;
}

.float-right btn text-white btn-danger edit-button-container{
    margin-left: 5px;;
}


button.BtnEditReview {
    border-radius: 5px;
    color: #333;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0 !important;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 100px;
    font-weight: bold;
    margin: 2%;
    font-size: 15px;
  }
  
  button.BtnEditReview:hover {
    background-color: #90620dd2 !important;
    color: #fff;
  }

  .HdEditReview {
    background-color: #3c3019;
    color: #fff;

}
