/* .producerOrdersContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.Container {
    margin: 20px;
  }
  
  thead {
    background-color: #007BFF; 
    color: white; 
  }
  
  th {
    padding: 10px;
    color: gray;
  }
  
  tr {
    background-color: white; 
    text-align: center;
    font-size: large;
  }
  
  td {
    padding: 10px;
  }
  
  .Button,
  .NavLink {
    /* background-color: #28a745;  */
    color: white; 
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    text-decoration: none; 
  }
  
  .Button-danger {
    /* background-color: #dc3545; Red color */
    color: white; 
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none; 
  }
  
  tr:hover {
    background-color: #e0e0e0; 
  }
  
  tr th {
    background-color: #f9f9f9; 
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0;
    padding: 0;
  }
  
  .pagination li {
    display: inline;
    margin-right: 10px;
  }
  
  .pagination .active a {
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #e0e0e0; 
  }
  
  .pagination .previous a,
  .pagination .next a {
    background-color: #e0e0e0; 
    color: #333; 
    border: 1px solid #e0e0e0;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .pagination .break a {
    display: none; 
  }
  
  .pagination a {
    background-color: #f0f0f0; 
    color: #333; 
    border: 1px solid #f0f0f0;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .pagination a:hover {
    background-color: #e0e0e0; 
  
  }