
.loginContainerRegister {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 550px;
} 

.cardContainerRegister {
    border-radius: 5px;
    position: absolute;
    background-color: aliceblue;
    background-color: #554932a9;
    

    left: 50%;
    transform: translate(-50%,-50%);
} 

.loginContainerRegister h3,
.labelLogin {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;


}



  