.registerContainer{
    display: grid;
    justify-content: center;
    border-radius: 5px;
    position:  absolute;
    background-color: #554932a9;
    max-width: 700px;
    height: 660px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
}
.cardRegister{
    box-shadow: 5px 5px 5px 5px  rgb(214, 203, 196);

}

.registerContainer h3,
.labelLogin {
    text-align: center;
    color: rgb(255, 255, 255);

}
