.TableWareHouse th, .TblWareHouse td {
  padding: 12px;
  border: 1px solid #111;
  text-align: center;
  background-color: #3c3019 !important;
  color: white !important;
}

button.BtnTrashWarehouses {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e0e0e0 !important;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  min-width: 100px;
  font-weight: bold;
  margin: 2%;
  font-size: 15px;
}

button.BtnTrashWarehouses:hover {
  background-color: #a43114 !important;
  color: #fff;
}