.navbarContainer{
  position: relative ;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
}



#navbarHead{
  position: relative;
  width: min-content;
  min-width: 300px;

  font-family: "Montserrat", Sans-serif;
  font-size: 100%;
  font-weight: 700;
  text-transform: uppercase;
 
}

#basic-navbar-nav{
  width: max-content;
  background-color: white;
}

.navbar-nav .nav-link {
  margin-right: 20px; 
  background-color: white;
  height: max-content;
}

.dropdown-menu.show{
  margin-right: 10px; 
  --bs-dropdown-link-active-bg: #9b7122d2;
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;

}


.nav-item.show.dropdown{    
  
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.dropdown-menu.show{
  font-size: 15px;
  font-family: "Montserrat", Sans-serif; 
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 700;

}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Sans-serif;
  
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
  background-color: white;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

.logoImg{
width: 220px;


}





