.passContainer{
    display: grid;
    justify-content: center;
    border-radius: 5px;
    height: auto;
    position: absolute;
    background-color: #554932a9;
    max-width: 550px;
    height: 900;
    top: 50%;
    left: 50%;
    margin-bottom: 120px;
    transform: translate(-50%,-50%);

    
}

.passContainer h3,
.labelPass {
    text-align: center;
    color: rgb(255, 255, 255);

}


.Alert {

    background-color: red;
}