
.infoReview {
    color: #8B4513; 
    text-align: center; 
    top: 50%; 
    left: 50%; 
    font-size: 20px; 
    font-weight: bold; 
    padding-top: 2%;
    padding-bottom: 2%;
  }
  

.card-inner{
    margin-left: 4rem;
}

  .stars-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .edit-button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

   .clasificacion {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#form .StarR {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

.StarR {
    color: grey;
}

.StarReviewed {
    color: #3c3019;
}


.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: flex;
    align-items: center; 
    font-size: larger;
}

.StarR:hover,
.StarR:hover~.StarR {
    color: #3c3019;

}

input[type="radio"]:checked~.StarR {
    color: #3c3019;

}

.float-right btn text-white btn-danger edit-button-container{
    margin-left: 5px;;
}

button.BtnTrash {
    border-radius: 5px;
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0 !important;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 100px;
    font-weight: bold;
    margin: 2%;
    font-size: 15px;
    color: #111;
  }


  .review-card .stars-container {
    /* Estilos para las estrellas dentro de review-card */
    display: flex;
    align-items: center;
    margin-top: 5px;
  }


  .review-container {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
  }
  
  .review-card {
    margin-bottom: 20px;
    border: 1px solid #999; 
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;



  }
  
  .review-card-body {
    padding: 15px;
  }
  
  .review-stars {
    color: #3c3019;
  }
  
  .review-actions {
    margin-top: 10px;
  }
  
  .review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd; /* Línea divisoria debajo del encabezado */
  }
  
  .review-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .review-header-info {
    margin-left: 10px;
  }
  
  .review-header-info .customer-name {
    font-weight: bold;
  }
  
  .review-header-info .review-date {
    color: #888;
  }
  