/* Form de la tabla */

.filter-input {
  width: 150px; 
  margin-left: 10px; 
}

.table-container {
  border: 1px solid #ddd; 
  border-radius: 5px; 
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
}

.table-title {
  margin-bottom: 20px; 
  color: #333; 
}

.divider {
  border-top: 2px solid #555; 
  margin: 20px 0; 
}

.filters-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.filter-input {
  width: 100%; 
}


/* Tabla */

.Table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
}

.Table th,
.Table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.Table th {
  background-color: #f8f9fa; /* Cambia el color de fondo del encabezado */
  font-weight: bold;
}

.Table td {
  background-color: #fff; /* Cambia el color de fondo de las celdas */
}

.Table tr:nth-child(even) {
  background-color: #f2f2f2; /* Cambia el color de fondo de las filas pares */
}

.Table tr:hover {
  background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse sobre las filas */
}



/* Modal */

.HeaderModal {
  background-color: #3c3019;
  color: #fff;
}

.ProfileText {
  color: #9b7122d2;
}


/* Botones */

button.BtnRed {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e0e0e0 !important;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 20px;
  color: #111;
  padding: 8px 16px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 5px;
}

button.BtnRed:hover {
  background-color: #a43114 !important;
  color: #fff;
}

button.BtnBrown {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e0e0e0 !important;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 20px;
  color: #111;
  padding: 8px 16px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 5px;
}

button.BtnBrown:hover {
  background-color: #9b7122d2 !important;
  color: #fff;
}

button.BtnSave {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  cursor: hand;
  text-align: center;
  border: 5px solid #3c3019;
  border-radius: 50px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  text-align: center;
  padding: 4px 5;
  background-color: #3c3019 !important;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 1%;
  margin-bottom: 20px;
}

button.BtnSave:hover {
  border: 5px solid #9b7122d2;
  color: #ffff !important;
}

button.BtnSave::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #3c3019;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

button.BtnSave::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #ba7f11d2;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

button.BtnSave:hover::before,
button.BtnSave:hover::before {
  opacity: 1;
  width: 116%;
}

button.BtnSave:hover::after,
button.BtnSave:hover::after {
  opacity: 1;
  width: 120%;
}

button.BtnClose {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  cursor: hand;
  text-align: center;
  border: 5px solid #c14327;
  border-radius: 50px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  text-align: center;
  padding: 4px 5;
  background-color: #c14327 !important;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 1%;
  margin-bottom: 20px;
}

button.BtnClose:hover {
  border: 5px solid #812915;
  color: #ffff !important;
}

button.BtnClose::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #c14327;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

button.BtnClose::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #d64220;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

button.BtnClose:hover::before,
button.BtnClose:hover::before {
  opacity: 1;
  width: 116%;
}

button.BtnClose:hover::after,
button.BtnClose:hover::after {
  opacity: 1;
  width: 120%;
}

button.BtnAdd {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e0e0e0 !important;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 20px;
  color: #111;
  padding: 8px 16px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  
}

button.BtnAdd:hover {
  background-color: #91a414 !important;
  color: #fff;
}

button.BtnPrint {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e0e0e0 !important;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 20px;
  color: #111;
  padding: 8px 16px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 5px;
}

button.BtnPrint:hover {
  background-color: #3c3019 !important;
  color: #fff;
}

.BtnContainer{
  display: flex;
  background-color: white !important;
}