
.editContainer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #f8f8f8;
  }
  
  /* Estilos para el título */
  .editContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Estilos para los campos de selección */
  .editProductTextFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  /* Estilos para las etiquetas de estado */
  .editProductTextFields span {
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
  
  /* Estilos para los selectores */
  .Select {
    width: 100%;
  }
  
  /* Estilos para los botones */
  .editButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .editButtons button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .editButtons button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para el enlace de regreso */
  .editButtons a {
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .editButtons a:hover {
    color: #0056b3;
  }
  