.styled-table th, .styled-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #050000;
  }
  
  .styled-table th{
    background-color: #3c3019;
    color: #fff;
    font-weight: bold;
  }

thead {
    background-color: #007BFF; 
    color: white; 
  }
  
  th {
    padding: 10px;
    color: gray;
  }
  
  tr {
    background-color: white; 
    text-align: center;
    font-size: medium;
  }
  
  td {
    padding: 10px;
  }

  tr:hover {
    background-color: #e0e0e0; 
  }
  
  tr th {
    background-color: #f9f9f9; 
  }
  
  table, th {
    border: 1px solid black;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0;
    padding: 0;
  }

  tr:hover {
    background-color: #e0e0e0; 
  }